$titleColor: rgb(202, 163, 62);

body {
  background-color: #333;
  color: #ccc;
  padding: 0 1rem;
  font-size: 1.4rem;
  font-family: sans-serif;

  h2 {
    color: $titleColor;
  }

  .books {
    .book {
      background-color: #222;
      margin-bottom: 1rem;
      padding: 1rem;
      display: flex;
      gap: 1rem;

      img {
        width: 8rem;
      }

      .info {

        .title {
          color: rgb(192, 158, 95);
        }

        .description {
          font-size: 1.1rem;
          font-style: italic;
        }
      }
    }
  }

}